.navbar{
    background-color: rgba(29, 28, 53, 0.8);
}
.nav-link,.nav-link{
    color: rgb(112, 97, 232);
}
.text-center{
    color:rgb(45, 44, 92);
}

.text-center{
    position: relative;
    left: 320px;
    color: rgb(178, 181, 183);
}