.btn {
    position: relative;
    bottom: 10px;
    left: 20px;
}
.h3-addBook{
    position: relative;
    left: 50px;
    top: -15px;
    text-outline: 2 2 #000;
    color: rgb(145, 148, 200);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-control{
    background-color: rgba(144, 157, 198, 0.5);
    position: relative;
    left: 20px;
    width: 605px;
    row: gap 5px;
   
}
.form-group{
    position: relative;
    display: flex;
    flex-direction: column; 
    gap: 5px;
    bottom: 20px;
}
.col-md-6 {
    background-color: rgb(37, 46, 80);
    position: relative;
    top: 70px;
    height: 440px;
    border-radius: 10px;
    width: 650px;
}
.addBook-label{
    position: relative;
    left: 20px;
    color: rgb(193, 197, 201);
    font-family:'Times New Roman';
    font-size: medium;
}

.arrow-icon{
    position: relative;
    top: 15px;
    left:15px ;
    cursor: pointer;
    
}


