<div class="col-md-6 offset-md-3">
  <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="30px" fill="#e8eaed" (click)="goBack()"  style="cursor: pointer;"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
<h3 class="h3-addBook">Add Book</h3> 
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="addBook-label"><b>Title of the book</b></label>
        <input type="text" class="form-control" id="title"
               [(ngModel)]="book.title" name="title">
    </div>
    <div class="form-group">
        <label for="author" class="addBook-label"><b>Author</b></label>
        <input type="text" class="form-control" id="author" [(ngModel)]="book.author" name="author" required>
      </div>
      
      <div class="form-group">
        <label for="isbn" class="addBook-label"><b>ISBN</b></label>
        <input type="text" class="form-control" id="isbn" [(ngModel)]="book.isbn" name="isbn" required>
      </div>
      
      <div class="form-group">
        <label for="dob" class="addBook-label"><b>Date of Publication</b></label>
        <input type="date" class="form-control" id="dob" [(ngModel)]="book.dob" name="dob" required>
      </div>
      
      <div class="form-group">
        <label for="pages" class="addBook-label"><b>Number of Pages</b></label>
        <input type="number" class="form-control" id="pages" [(ngModel)]="book.pages" name="pages" required>
      </div>


        <button type= "submit" class="btn btn-success">Submit</button>
      
      
</form>
</div>