/* Reuse the same styles as for the login component */
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
}

.register-box {
  position: relative;
  bottom: 50px;
  background-color: rgba(202, 204, 245, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box {
  margin-bottom: 20px;
}

.input-box input {
  background-color: rgba(247, 247, 247, 0.732);
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}
