
<div class="book-details-class">
<h3 class="book-view-h3">Here <b>" {{book.title}} "</b>  Book details!</h3>
<div class="details-container">
    <div class="detail-label">
        <label class="book-view-label"> <b>Title :</b> </label>{{book.title}}

    </div>
    <div class="detail-label">
        <label class="book-view-label"> <b>Author :</b> </label>{{book.author}}     
    </div>
    <div class="detail-label" >
        <label class="book-view-label"> <b>Published Date :</b> </label>{{book.dob}}     
    </div>
    <div class="detail-label">
        <label class="book-view-label"> <b>ISBN :</b> </label>{{book.isbn}}     
    </div>
    <div class="detail-label">
        <label class="book-view-label"> <b>Number of Pages :</b> </label>{{book.pages}}     
    </div>
</div>

</div>

